# ===============================
# Python cache
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Virtual Environments (IMPORTANT)
# ===============================
traffic-simulator/
venv/
env/
.venv/

# ===============================
# Environment files
# ===============================
.env

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
Thumbs.db
.DS_Store

# ===============================
# Large datasets
# ===============================
data/
*.csv

# ===============================
# ML trained models
# ===============================
*.pkl
*.joblib
*.h5
